h1 {
    color: red;
    font-family: Arial,helvetica,sans-serif;
    font-size:38pt;
    background: pink
}
.green-text{
    color:green
}
.importante{
    color: white;
    background-color: red;
    padding: 20px;
    width: 50%;
    /*position absolute*/
    position: fixed;
    left: 25%;
    bottom: 0%;
    box-shadow:0px 0px 20px black;
    border: 2px solid rgb(0, 255, 85)

}